In [53]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [54]:
#get train_data and test_data
train_data= pd.read_table("/Users/susu/Desktop/python/winc/自動車走行距離予想/train.tsv") #tsv用read_table读取
test_data = pd.read_table('/Users/susu/Desktop/python/winc/自動車走行距離予想/test.tsv')

In [55]:
#check data
train_data.head()

,id,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,0,29.0,4,135.0,84.00,2525.0,16.0,82,1,dodge aries se
1,3,31.9,4,89.0,71.00,1925.0,14.0,79,2,vw rabbit custom
2,9,19.0,6,156.0,108.0,2930.0,15.5,76,3,toyota mark ii
3,11,28.0,4,90.0,75.00,2125.0,14.5,74,1,dodge colt
4,13,37.7,4,89.0,62.00,2050.0,17.3,81,3,toyota tercel

In [56]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            199 non-null    int64
 1   mpg           199 non-null    float64
 2   cylinders     199 non-null    int64
 3   displacement  199 non-null    float64
 4   horsepower    199 non-null    object
 5   weight        199 non-null    float64
 6   acceleration  199 non-null    float64
 7   model year    199 non-null    int64
 8   origin        199 non-null    int64
 9   car name      199 non-null    object
dtypes: float64(4), int64(4), object(2)
memory usage: 15.7+ KB

In [57]:
test_data.head()

,id,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,1,6,145.0,76.00,3160.0,19.6,81,2,volvo diesel
1,2,6,250.0,98.00,3525.0,19.0,77,1,ford granada
2,4,4,119.0,92.00,2434.0,15.0,80,3,datsun 510 hatchback
3,5,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw)
4,6,4,97.0,88.00,2100.0,16.5,72,3,toyota corolla 1600 (sw)

In [58]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            199 non-null    int64
 1   cylinders     199 non-null    int64
 2   displacement  199 non-null    float64
 3   horsepower    199 non-null    object
 4   weight        199 non-null    float64
 5   acceleration  199 non-null    float64
 6   model year    199 non-null    int64
 7   origin        199 non-null    int64
 8   car name      199 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 14.1+ KB

In [59]:
#上次提交的结果不允许预测的时候删除空缺值，那只好用平均值代替'?''
#check missing data
train_data.isnull().sum()

id              0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [60]:
test_data.isnull().sum()

id              0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

这里不需要将变数scale

In [61]:
#change '?' to np.nan
train_data = train_data.replace('?', np.nan)
train_data.isnull().sum()

id              0
mpg             0
cylinders       0
displacement    0
horsepower      4
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [62]:
train_data = train_data.dropna()

In [63]:
train_data.isnull().sum()

id              0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [64]:
test_data = test_data.replace('?', np.nan)
test_data.isnull().sum()

id              0
cylinders       0
displacement    0
horsepower      2
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [65]:
type(test_data)

pandas.core.frame.DataFrame

In [66]:
#change horsepower to float
test_data['horsepower']  = test_data['horsepower'].astype(float)

In [67]:
#由于提交结果不允许删除 null value，这里尝试用mean value代替
#mean_hp = test_data['horsepower'].mean()
test_data = test_data.replace(np.nan, test_data['horsepower'].mean())

In [68]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            199 non-null    int64
 1   cylinders     199 non-null    int64
 2   displacement  199 non-null    float64
 3   horsepower    199 non-null    float64
 4   weight        199 non-null    float64
 5   acceleration  199 non-null    float64
 6   model year    199 non-null    int64
 7   origin        199 non-null    int64
 8   car name      199 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 14.1+ KB

training data

In [69]:
y_train = train_data['mpg']
X_train = train_data[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']]

In [70]:
from sklearn.linear_model import LinearRegression

In [71]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

predciting test data

In [72]:
X_test = test_data[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']]
predictions = lm.predict( X_test)

In [73]:
len(predictions)

199

In [74]:
type(predictions)

numpy.ndarray

In [75]:
df_predict = pd.DataFrame(data = predictions, columns = ['prediction'])
df_predict

     prediction
0     26.540034
1     21.325068
2     32.087989
3     19.744515
4     27.548722
..          ...
194   24.196733
195   26.911650
196   28.150266
197   16.228373
198   30.855345

[199 rows x 1 columns]

In [76]:
#把df_predict和test_data concat起来
test_data =pd.concat([test_data, df_predict], axis = 1)
test_data

,id,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name,prediction
0,1,6,145.0,76.0,3160.0,19.6,81,2,volvo diesel,26.540034
1,2,6,250.0,98.0,3525.0,19.0,77,1,ford granada,21.325068
2,4,4,119.0,92.0,2434.0,15.0,80,3,datsun 510 hatchback,32.087989
3,5,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw),19.744515
4,6,4,97.0,88.0,2100.0,16.5,72,3,toyota corolla 1600 (sw),27.548722
...,...,...,...,...,...,...,...,...,...,...
194,391,4,114.0,91.0,2582.0,14.0,73,2,audi 100ls,24.196733
195,392,4,156.0,105.0,2800.0,14.4,80,1,dodge colt,26.911650
196,393,4,111.0,80.0,2155.0,14.8,77,1,buick opel isuzu deluxe,28.150266
197,394,8,400.0,180.0,4220.0,11.1,77,1,pontiac grand prix lj,16.228373
198,397,4,97.0,78.0,1940.0,14.5,77,2,volkswagen rabbit custom,30.855345

In [77]:
# df_pred = pd.DataFrame([])
# id_list = []
# mpg_list = []
# index = 0

# for predict in predictions:
#     index += 1
#     id_list.append(index)
#     mpg_list.append(predict)

# df_pred = df_pred.append(pd.DataFrame({'id': id_list, 'mpg': mpg_list} ))

In [78]:
#取出id列和prediction列写入csv文件
test_data[['id', 'prediction']].to_csv('predict_distance.csv', index = False, header = False)