In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#get train_data and test_data
train_data= pd.read_table("/Users/susu/Desktop/python/winc/自動車走行距離予想/train.tsv") #tsv用read_table读取
test_data = pd.read_table('/Users/susu/Desktop/python/winc/自動車走行距離予想/test.tsv')

In [4]:
#check data
train_data.head()

,id,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,0,29.0,4,135.0,84.00,2525.0,16.0,82,1,dodge aries se
1,3,31.9,4,89.0,71.00,1925.0,14.0,79,2,vw rabbit custom
2,9,19.0,6,156.0,108.0,2930.0,15.5,76,3,toyota mark ii
3,11,28.0,4,90.0,75.00,2125.0,14.5,74,1,dodge colt
4,13,37.7,4,89.0,62.00,2050.0,17.3,81,3,toyota tercel

In [5]:
test_data.head()

,id,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,1,6,145.0,76.00,3160.0,19.6,81,2,volvo diesel
1,2,6,250.0,98.00,3525.0,19.0,77,1,ford granada
2,4,4,119.0,92.00,2434.0,15.0,80,3,datsun 510 hatchback
3,5,6,258.0,110.0,2962.0,13.5,71,1,amc hornet sportabout (sw)
4,6,4,97.0,88.00,2100.0,16.5,72,3,toyota corolla 1600 (sw)

In [6]:
#check missing data
train_data.isnull().sum()

id              0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [7]:
test_data.isnull().sum()

id              0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

#说明变数是距离，这里不需要将数据scale

In [8]:
#change '?' to np.nan
train_data = train_data.replace('?', np.nan)
train_data.isnull().sum()

id              0
mpg             0
cylinders       0
displacement    0
horsepower      4
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [9]:
test_data = test_data.replace('?', np.nan)
test_data.isnull().sum()

id              0
cylinders       0
displacement    0
horsepower      2
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [10]:
#drop np.nan
train_data = train_data.dropna()
test_data = test_data.dropna()

In [11]:
#检查一下是否drop成功
train_data.isnull().sum()

id              0
mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [12]:
test_data.isnull().sum()

id              0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

**training data**

In [13]:
y_train = train_data['mpg']
X_train = train_data[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']]

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

**predciting test data**

In [16]:
X_test = test_data[['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']]
predictions = lm.predict( X_test)

In [17]:
predictions

array([26.54003394, 21.32506752, 32.0879893 , 19.74451484, 27.54872237,
       22.65280956, 14.89073162, 21.21049204, 25.50139662, 23.74542717,
       10.94565414, 30.86464556, 11.73577237, 33.42159407, 30.09110879,
       17.27883526, 21.44741701, 24.64357102, 11.27772028, 30.23478067,
       27.17662609, 33.17894123, 17.04415884,  9.18062113, 16.71145972,
       10.55606582, 12.65477454, 20.12485357, 29.23477598, 29.52537475,
       34.65782876, 18.87822936, 36.50596499,  9.94439112, 20.73145175,
       28.87601726, 32.60559483, 20.86074997, 27.99258351, 34.38953147,
       10.51358768, 31.04832833, 22.76446247, 28.62064299, 21.4471537 ,
       36.39541522, 32.59191815, 20.37957433, 25.6460914 , 27.26771662,
       25.70503947, 26.22858226, 30.68996909, 19.75532233, 28.15544681,
       15.4329903 , 15.20626611, 31.77917636, 13.22130749, 16.47185477,
       14.45481939, 29.91909652, 29.4879391 , 14.54099009, 25.90135951,
       12.3508827 , 35.58837699, 28.81460583, 21.03783158, 14.6874728 ,
       31.61181304, 33.67571389,  6.4743943 , 31.51337986, 28.35589487,
       21.53337972, 14.67677134, 11.00593036, 20.14183975, 32.75131107,
       34.15560428, 25.67355114, 25.68844203, 24.48156625, 36.31957977,
       20.11857576, 20.36614127, 11.65324132, 12.89452776, 24.45282649,
       29.05244729, 12.41065911, 23.57466374, 18.49387698, 12.62623006,
       35.24535398, 24.20732228,  9.13860344, 26.77806378, 28.41883568,
       24.04282038, 20.93555693, 18.21739036, 24.66384163, 29.03722041,
       24.17567736, 14.8401326 , 16.51123978, 18.15141219, 12.86082879,
       23.99194213, 26.85469771,  9.77485031, 28.91409028, 13.56355703,
       13.6633822 , 21.31441828, 21.12590431, 36.08105525, 15.24434602,
       18.93655378, 24.58518233, 19.48700715, 22.84295961, 23.22389033,
       22.94551743, 16.57774758, 35.29083525, 31.11290506, 33.34514992,
       24.50642548, 20.51533222, 13.30985396, 24.63247126, 23.02525707,
       26.54531702, 35.29113814, 26.15455424, 30.75217362, 10.26116583,
       30.10166892, 13.7979707 , 11.27900021, 26.66558295, 21.98440499,
       28.16137055, 27.46714173, 20.0729936 , 23.10895617, 16.78283334,
       27.49050255, 25.08053145, 26.17663263, 25.41675278, 13.43273731,
       32.68159724, 16.97010894,  9.90569796, 36.494001  , 20.66022185,
       33.4347531 , 30.36798004,  8.70815391, 17.78641051, 21.30232607,
       24.57346972, 21.1238042 ,  9.37925595,  7.00393141, 34.11446435,
       22.92684517, 14.58523887, 25.98394673, 30.12942161, 19.49638049,
       28.54064264, 32.38690819, 12.90351731, 20.24388609, 21.18704684,
       31.57238236, 12.12611554, 24.93225042, 11.90300034, 32.11827732,
       23.57861927, 26.19617297, 21.71015997, 34.64325721, 28.83825588,
       17.92877087, 27.11027094, 24.19673317, 26.9116497 , 28.15026615,
       16.2283727 , 30.85534538])

In [18]:
df_pred = pd.DataFrame([])
id_list = []
mpg_list = []
index = -1

# with open('prediction.csv', 'w') as f: #为什么不能成功写入prediction.csv中？？
for predict in predictions:
    index += 1
    id_list.append(index)
    mpg_list.append(predict)
      
    #df_pred = pd.DataFrame(columns = ['id', 'mpg'])
df_pred = df_pred.append(pd.DataFrame({'id': id_list, 'mpg': mpg_list} ))

In [19]:
df_pred

      id        mpg
0      0  26.540034
1      1  21.325068
2      2  32.087989
3      3  19.744515
4      4  27.548722
..   ...        ...
192  192  24.196733
193  193  26.911650
194  194  28.150266
195  195  16.228373
196  196  30.855345

[197 rows x 2 columns]

In [21]:
df_pred.to_csv('distance_predict.csv', index = False, header = False)